.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

#visualn {
	width: 700px;
	border:1px solid #aaa;
	background: #f9f9f9;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}